In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("data/schools.csv", encoding="utf-8", index_col=0) # Other functions to read data: read_excel, read_sql, read_json
df.head() # prints the first 5 rows, can accept number of rows

,OBJECTID,Region,Division,ID,School,Municipali,Legislativ,Total_Enro,Total_Inst,Color_Code,Barangay,Province,District,Type_of_Sc,Rooms_used,Rooms_unused
0,1,NCR,Quezon City,319506,National Orthopedic Hospital School for Crippl...,QUEZON CITY,1st,85,8,Blue,NaN,NCR SECOND DISTRICT,School District I,School with no Annexes,6.0,0.0
1,2,NCR,Pasay City,319602,Philippine National School for the Blind,PASAY CITY,Lone,27,9,Blue,NaN,NCR FOURTH DISTRICT,Pasay City West District,School with no Annexes,5.0,0.0
2,3,NCR,Pasay City,319603,Philippine School for the Deaf,PASAY CITY,Lone,251,84,Blue,NaN,NCR FOURTH DISTRICT,Pasay City West District,School with no Annexes,25.0,0.0
3,4,NCR,Pasay City,223002,Philippine School for the Deaf,PASAY CITY,Lone,260,84,Blue,NaN,NCR FOURTH DISTRICT,Pasay City West District,School with no Annexes,38.0,0.0
4,5,NCR,Pasay City,223001,Philippine National School for the Blind,PASAY CITY,Lone,46,9,Blue,NaN,NCR FOURTH DISTRICT,Pasay City West District,School with no Annexes,7.0,2.0

In [50]:
df.info() # to check non-null counts and data types

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16022 entries, 0 to 16021
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   OBJECTID      16022 non-null  int64
 1   Region        16022 non-null  object
 2   Division      16022 non-null  object
 3   ID            16022 non-null  int64
 4   School        16022 non-null  object
 5   Municipali    16022 non-null  object
 6   Legislativ    16006 non-null  object
 7   Total_Enro    16022 non-null  int64
 8   Total_Inst    16022 non-null  int64
 9   Color_Code    16022 non-null  object
 10  Barangay      15287 non-null  object
 11  Province      16022 non-null  object
 12  District      16022 non-null  object
 13  Type_of_Sc    16022 non-null  object
 14  Rooms_used    16014 non-null  float64
 15  Rooms_unused  16014 non-null  float64
dtypes: float64(2), int64(4), object(10)
memory usage: 2.1+ MB

In [51]:
df.columns # to get list of columns of data frame

Index(['OBJECTID', 'Region', 'Division', 'ID', 'School', 'Municipali',
       'Legislativ', 'Total_Enro', 'Total_Inst', 'Color_Code', 'Barangay',
       'Province', 'District', 'Type_of_Sc', 'Rooms_used', 'Rooms_unused'],
      dtype='object')

In [52]:
df.isna().sum() # gets the sum of missing values

OBJECTID          0
Region            0
Division          0
ID                0
School            0
Municipali        0
Legislativ       16
Total_Enro        0
Total_Inst        0
Color_Code        0
Barangay        735
Province          0
District          0
Type_of_Sc        0
Rooms_used        8
Rooms_unused      8
dtype: int64

In [53]:
df.isnull().sum() # gets the sum of null values

OBJECTID          0
Region            0
Division          0
ID                0
School            0
Municipali        0
Legislativ       16
Total_Enro        0
Total_Inst        0
Color_Code        0
Barangay        735
Province          0
District          0
Type_of_Sc        0
Rooms_used        8
Rooms_unused      8
dtype: int64

In [54]:
df["ID"].nunique(), df["Municipali"].nunique() # counts distinct observations over an axis

(15920, 1061)

In [55]:
df.shape

(16022, 16)

In [80]:
df[df["ID"].duplicated(keep=False)] # only half of these duplicates should be dropped

,OBJECTID,Region,Division,ID,School,Municipali,Legislativ,Total_Enro,Total_Inst,Color_Code,Barangay,Province,District,Type_of_Sc,Rooms_used,Rooms_unused
102,103,Region XI,Davao Oriental,205504,Rabat-Rocamora Mati Central SPED Sch.,CITY OF MATI (Capital),2nd,756,18,Blue,Central,DAVAO ORIENTAL,Mati Central,School with no Annexes,18.0,0.0
125,126,Region XI,Davao Oriental,205504,Rabat-Rocamora Mati Central SPED Sch.,CITY OF MATI (Capital),2nd,756,18,Blue,Central,DAVAO ORIENTAL,Mati Central,School with no Annexes,18.0,0.0
144,145,Region XI,Tagum City,304261,Tagum National Trade Sschool,CITY OF TAGUM (Capital),1st,1669,43,Blue,Apokon,DAVAO DEL NORTE,Tagum City Central,School with no Annexes,20.0,0.0
169,170,Region XI,Tagum City,304261,Tagum National Trade Sschool,CITY OF TAGUM (Capital),1st,1669,43,Blue,Apokon,DAVAO DEL NORTE,Tagum City Central,School with no Annexes,20.0,0.0
218,219,Region XI,Davao City,129499,San Jose Elementary School,DAVAO CITY,3rd,448,13,Blue,Eden,DAVAO DEL SUR,Binugao,School with no Annexes,11.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13846,13847,NCR,Pasig City,136729,Bagong Ilog ES,CITY OF PASIG,Lone,1458,41,Blue,Bagong Ilog,NCR SECOND DISTRICT,Pasig City District III,School with no Annexes,28.0,0.0
14008,14009,NCR,Taguig,136877,Tipas Elementary School -Main,TAGUIG CITY,1st,3214,43,Red,"PALINGON, TIPAS",NCR FOURTH DISTRICT,Taguig District I,Mother school,53.0,0.0
14019,14020,NCR,Taguig,136877,Tipas Elementary School -Main,TAGUIG CITY,1st,3214,43,Red,"PALINGON, TIPAS",NCR FOURTH DISTRICT,Taguig District I,Mother school,53.0,0.0
15763,15764,Region III,San Jose City,105700,Malasin ES,SAN JOSE CITY,2nd,442,13,Blue,Malasin,NUEVA ECIJA,San Jose City East,School with no Annexes,12.0,0.0
15764,15765,Region III,San Jose City,105700,Malasin ES,SAN JOSE CITY,2nd,442,13,Blue,Malasin,NUEVA ECIJA,San Jose City East,School with no Annexes,12.0,0.0

In [81]:
# Be careful when using keep = False as parameter not to drop all duplicates
no_dup_df = df.drop_duplicates(subset=['ID'])
no_dup_df.shape

(15920, 16)