# NetCDF4 to Pandas DataFrame
---
This code reads a NetCDF4 file (.nc) and saves the values into a DataFrame. Currently, the NetCDF4 dictionary that this code reads include the attributes: latitude, longitude, time, the u component of wind, and the v component of wind.

In [1]:
import pandas as pd
import datetime
import netCDF4 as nc

#### Input NetCDF4 file is from [Copernicus EU](https://cds.climate.copernicus.eu/cdsapp#!/dataset/reanalysis-era5-single-levels-monthly-means?tab=overview) dated 2007 to 2020.

Downloaded NC file includes monthly observations from Jan 2007 to Dec 2020 and must be trimmed to match Global Wind Atlas input map.

The latitude and longitude may be saved as is. The datetime must be derived from the time. Lastly, wind speed must be computed from its u and v components. A DataFrame row represents 1 grid monthly observation, which corresponds to a unique latitude-longitude-month combination (**71 by 45 by 156 = 498420 rows**).

In [2]:
filename = "data/ERA5.wind_uv_100m_PH_2007-2020.nc"
ds = nc.Dataset(filename)

In [3]:
print(ds)

<class 'netCDF4._netCDF4.Dataset'>
root group (NETCDF3_64BIT_OFFSET data model, file format NETCDF3):
    Conventions: CF-1.6
    history: 2021-03-16 14:56:58 GMT by grib_to_netcdf-2.16.0: /opt/ecmwf/eccodes/bin/grib_to_netcdf -S param -o /cache/data8/adaptor.mars.internal-1615906569.1779313-4262-9-ab629e05-1c42-4c97-ad78-f865d852d412.nc /cache/tmp/ab629e05-1c42-4c97-ad78-f865d852d412-adaptor.mars.internal-1615906569.1784804-4262-3-tmp.grib
    dimensions(sizes): longitude(45), latitude(71), time(168)
    variables(dimensions): float32 longitude(longitude), float32 latitude(latitude), int32 time(time), int16 u100(time, latitude, longitude), int16 v100(time, latitude, longitude)
    groups:

In [4]:
print(ds.__dict__)

{'Conventions': 'CF-1.6', 'history': '2021-03-16 14:56:58 GMT by grib_to_netcdf-2.16.0: /opt/ecmwf/eccodes/bin/grib_to_netcdf -S param -o /cache/data8/adaptor.mars.internal-1615906569.1779313-4262-9-ab629e05-1c42-4c97-ad78-f865d852d412.nc /cache/tmp/ab629e05-1c42-4c97-ad78-f865d852d412-adaptor.mars.internal-1615906569.1784804-4262-3-tmp.grib'}

In [5]:
for dim in ds.dimensions.values():
    print(dim)

<class 'netCDF4._netCDF4.Dimension'>: name = 'longitude', size = 45
<class 'netCDF4._netCDF4.Dimension'>: name = 'latitude', size = 71
<class 'netCDF4._netCDF4.Dimension'>: name = 'time', size = 168

In [6]:
for var in ds.variables.values():
    print(var)

<class 'netCDF4._netCDF4.Variable'>
float32 longitude(longitude)
    units: degrees_east
    long_name: longitude
unlimited dimensions:
current shape = (45,)
filling on, default _FillValue of 9.969209968386869e+36 used
<class 'netCDF4._netCDF4.Variable'>
float32 latitude(latitude)
    units: degrees_north
    long_name: latitude
unlimited dimensions:
current shape = (71,)
filling on, default _FillValue of 9.969209968386869e+36 used
<class 'netCDF4._netCDF4.Variable'>
int32 time(time)
    units: hours since 1900-01-01 00:00:00.0
    long_name: time
    calendar: gregorian
unlimited dimensions:
current shape = (168,)
filling on, default _FillValue of -2147483647 used
<class 'netCDF4._netCDF4.Variable'>
int16 u100(time, latitude, longitude)
    scale_factor: 0.00035470298897597396
    add_offset: -2.656274763603863
    _FillValue: -32767
    missing_value: -32767
    units: m s**-1
    long_name: 100 metre U wind component
unlimited dimensions:
current shape = (168, 71, 45)
filling on
<class 'netCDF4._netCDF4.Variable'>
int16 v100(time, latitude, longitude)
    scale_factor: 0.0003277946693250785
    add_offset: -1.400058134852973
    _FillValue: -32767
    missing_value: -32767
    units: m s**-1
    long_name: 100 metre V wind component
unlimited dimensions:
current shape = (168, 71, 45)
filling on

In [7]:
print(ds["u100"])

<class 'netCDF4._netCDF4.Variable'>
int16 u100(time, latitude, longitude)
    scale_factor: 0.00035470298897597396
    add_offset: -2.656274763603863
    _FillValue: -32767
    missing_value: -32767
    units: m s**-1
    long_name: 100 metre U wind component
unlimited dimensions:
current shape = (168, 71, 45)
filling on

In [8]:
print(ds["v100"])

<class 'netCDF4._netCDF4.Variable'>
int16 v100(time, latitude, longitude)
    scale_factor: 0.0003277946693250785
    add_offset: -1.400058134852973
    _FillValue: -32767
    missing_value: -32767
    units: m s**-1
    long_name: 100 metre V wind component
unlimited dimensions:
current shape = (168, 71, 45)
filling on

In [9]:
u = ds["u100"][:]
u

masked_array(
  data=[[[-8.25703496e+00, -8.16232926e+00, -7.96937084e+00, ...,
          -6.57928982e+00, -6.57077695e+00, -6.55658883e+00],
         [-8.25384263e+00, -8.13927357e+00, -7.98852480e+00, ...,
          -6.74387201e+00, -6.73748735e+00, -6.69598711e+00],
         [-8.25774437e+00, -8.14885055e+00, -8.04705079e+00, ...,
          -6.86801805e+00, -6.87440271e+00, -6.83786830e+00],
         ...,
         [ 4.26602795e-02, -9.95756191e-02, -1.38947651e-01, ...,
          -1.64785417e+00, -1.76348734e+00, -1.84365022e+00],
         [ 7.10365186e-02,  8.06134993e-02, -5.55924484e-02, ...,
          -1.31975390e+00, -1.43503237e+00, -1.43716059e+00],
         [ 3.48568138e-02,  1.06152115e-01,  2.70533480e-02, ...,
          -1.01435463e+00, -1.07075240e+00, -1.06117542e+00]],

        [[-6.32567718e+00, -6.28524104e+00, -6.17705663e+00, ...,
          -5.04768232e+00, -4.99908801e+00, -4.97780583e+00],
         [-6.38562199e+00, -6.34447644e+00, -6.29694624e+00, ...,
          -5.18885410e+00, -5.13706747e+00, -5.07712266e+00],
         [-6.41435293e+00, -6.37214328e+00, -6.37143387e+00, ...,
          -5.30377787e+00, -5.26121351e+00, -5.19949519e+00],
         ...,
         [-6.02544457e-01, -6.55749906e-01, -6.42625895e-01, ...,
          -3.05070449e+00, -3.16314533e+00, -3.22344484e+00],
         [-3.84047416e-01, -3.68085782e-01, -4.66693213e-01, ...,
          -2.93826364e+00, -3.05070449e+00, -3.03261463e+00],
         [-3.99299645e-01, -3.25521423e-01, -3.80855089e-01, ...,
          -3.04822157e+00, -2.96557577e+00, -2.90669507e+00]],

        [[-5.19133703e+00, -5.11011004e+00, -4.95404073e+00, ...,
          -3.66859709e+00, -3.69590922e+00, -3.74769586e+00],
         [-5.21474742e+00, -5.13352044e+00, -5.07215682e+00, ...,
          -3.81899116e+00, -3.85339735e+00, -3.88567532e+00],
         [-5.24596129e+00, -5.17643950e+00, -5.16863603e+00, ...,
          -3.94703894e+00, -3.98995800e+00, -4.02330008e+00],
         ...,
         [-6.62843966e-01, -7.97631101e-01, -7.61451396e-01, ...,
          -3.61893868e+00, -3.71648200e+00, -3.68030229e+00],
         [-4.80171926e-01, -5.52531336e-01, -5.73813515e-01, ...,
          -3.55934857e+00, -3.65689190e+00, -3.55934857e+00],
         [-4.33351132e-01, -4.47184548e-01, -4.21645933e-01, ...,
          -3.77997383e+00, -3.61503694e+00, -3.46748050e+00]],

        ...,

        [[-1.06690153e+01, -1.03866717e+01, -9.94825881e+00, ...,
          -6.55942645e+00, -6.44911382e+00, -6.35157050e+00],
         [-1.05665061e+01, -1.02752950e+01, -9.91491673e+00, ...,
          -6.56652051e+00, -6.47181482e+00, -6.35937397e+00],
         [-1.05391940e+01, -1.02635898e+01, -9.99224198e+00, ...,
          -6.56261878e+00, -6.46968660e+00, -6.34660466e+00],
         ...,
         [ 3.44867226e-01,  3.51606583e-01,  4.29641240e-01, ...,
           2.34184505e+00,  2.47946981e+00,  2.59652180e+00],
         [ 1.39494196e-01,  1.92344941e-01,  2.46969201e-01, ...,
           2.36028961e+00,  2.49791437e+00,  2.56920967e+00],
         [ 8.77075591e-02,  1.10408550e-01,  1.61131078e-01, ...,
           2.52345298e+00,  2.56247031e+00,  2.58800893e+00]],

        [[-9.12321966e+00, -8.89762856e+00, -8.57059240e+00, ...,
          -8.34748422e+00, -8.34783892e+00, -8.36805700e+00],
         [-9.00900530e+00, -8.79015355e+00, -8.52377161e+00, ...,
          -8.28824882e+00, -8.27902654e+00, -8.27299659e+00],
         [-8.93487237e+00, -8.73836692e+00, -8.54753671e+00, ...,
          -8.16835921e+00, -8.15204287e+00, -8.14530352e+00],
         ...,
         [ 1.92498822e-02, -5.91394783e-02, -8.11310636e-02, ...,
          -4.91877125e-01, -5.09966977e-01, -4.84073659e-01],
         [-2.03229710e-03, -2.11862585e-02, -3.50196751e-02, ...,
          -4.42928112e-01, -4.61727371e-01, -4.35124647e-01],
         [-3.11179422e-02, -1.97674465e-02,  2.22413877e-03, ...,
          -3.82628604e-01, -3.90432070e-01, -3.73761030e-01]],

        [[-8.48936542e+00, -8.35457828e+00, -8.11550847e+00, ...,
          -7.71611290e+00, -7.78740820e+00, -7.86189583e+00],
         [-8.42126244e+00, -8.26377432e+00, -8.05982010e+00, ...,
          -7.71540350e+00, -7.78244236e+00, -7.83032726e+00],
         [-8.35777061e+00, -8.18573966e+00, -8.02789683e+00, ...,
          -7.72498048e+00, -7.77712182e+00, -7.82110499e+00],
         ...,
         [ 2.20875062e-02, -9.28362623e-02, -1.22631313e-01, ...,
          -2.08824140e-01, -2.59191964e-01, -2.96790481e-01],
         [-1.26178343e-01, -1.24404828e-01, -1.09507303e-01, ...,
          -5.24001215e-02, -1.03122649e-01, -9.60285892e-02],
         [-1.76546168e-01, -1.55973394e-01, -6.02035873e-02, ...,
           1.43750631e-01,  9.19639950e-02,  9.44469159e-02]]],
  mask=False,
  fill_value=1e+20)

In [10]:
v = ds["v100"][:]
v

masked_array(
  data=[[[-8.36372809e+00, -8.62924177e+00, -8.83739139e+00, ...,
          -4.48034464e+00, -4.50099571e+00, -4.54098666e+00],
         [-8.44075984e+00, -8.62006352e+00, -8.79543367e+00, ...,
          -4.51836882e+00, -4.55016491e+00, -4.56589905e+00],
         [-8.50074626e+00, -8.65022063e+00, -8.78986116e+00, ...,
          -4.54295342e+00, -4.55803198e+00, -4.55409844e+00],
         ...,
         [-9.88675825e-01, -1.13552784e+00, -1.13126651e+00, ...,
          -4.14304393e+00, -4.24990499e+00, -4.11649256e+00],
         [-8.50018680e-01, -8.21172749e-01, -7.13328303e-01, ...,
          -3.97259070e+00, -4.07945176e+00, -3.96144568e+00],
         [-5.61887165e-01, -3.90450553e-01, -1.69189152e-01, ...,
          -4.04667229e+00, -3.94636713e+00, -3.80639880e+00]],

        [[-3.07017198e+00, -3.22357988e+00, -3.29667809e+00, ...,
          -2.19332123e+00, -2.26346929e+00, -2.34181222e+00],
         [-2.94823236e+00, -3.04788194e+00, -3.14654813e+00, ...,
          -2.24806294e+00, -2.32312792e+00, -2.38081979e+00],
         [-2.87283958e+00, -2.98625654e+00, -3.08983966e+00, ...,
          -2.28510374e+00, -2.34771252e+00, -2.38967024e+00],
         ...,
         [-5.68115264e-01, -9.74580654e-01, -1.15716228e+00, ...,
          -4.60720118e+00, -4.85829190e+00, -4.74880848e+00],
         [-4.24868994e-01, -5.27140930e-01, -6.76615300e-01, ...,
          -4.50394586e+00, -4.75372540e+00, -4.62588548e+00],
         [-2.37370443e-01, -1.38704247e-01, -1.73778277e-01, ...,
          -4.55835977e+00, -4.61900179e+00, -4.46461050e+00]],

        [[-2.39196480e+00, -2.53553887e+00, -2.57847997e+00, ...,
           4.49687184e-01,  3.67738517e-01,  2.60221865e-01],
         [-2.22020040e+00, -2.30804937e+00, -2.34902370e+00, ...,
           4.42147907e-01,  3.38564791e-01,  2.29081372e-01],
         [-2.04056892e+00, -2.11760067e+00, -2.14382424e+00, ...,
           4.27397147e-01,  3.25780799e-01,  2.28097988e-01],
         ...,
         [ 1.59187118e-03, -3.65538158e-01, -5.87455150e-01, ...,
          -4.93892938e+00, -5.22312736e+00, -5.07856991e+00],
         [ 1.24514872e-01, -4.13492305e-02, -2.80639339e-01, ...,
          -4.79142178e+00, -5.07561976e+00, -4.90647771e+00],
         [ 1.51066240e-01,  1.09108523e-01, -4.23326145e-02, ...,
          -4.82256228e+00, -4.89107136e+00, -4.69177220e+00]],

        ...,

        [[-8.85312553e+00, -9.12257275e+00, -9.24844590e+00, ...,
          -4.75241422e+00, -4.64620875e+00, -4.54950932e+00],
         [-8.65677652e+00, -8.75937626e+00, -8.77019348e+00, ...,
          -4.58064981e+00, -4.47509993e+00, -4.36299415e+00],
         [-8.27686250e+00, -8.29161326e+00, -8.24080509e+00, ...,
          -4.38725096e+00, -4.27219503e+00, -4.14796085e+00],
         ...,
         [-3.25875003e-01, -1.47882498e-01,  1.99483727e-02, ...,
           2.45152923e+00,  2.68393565e+00,  2.79735261e+00],
         [-1.57716338e-01, -1.51816034e-01,  2.19151407e-02, ...,
           2.51118786e+00,  2.74261090e+00,  2.77670154e+00],
         [-5.80667586e-02, -8.06845908e-02,  4.35495889e-02, ...,
           2.69475287e+00,  2.75244474e+00,  2.74851120e+00]],

        [[-8.92196241e+00, -9.23369514e+00, -9.44151696e+00, ...,
          -6.48546463e+00, -6.23273494e+00, -5.97082700e+00],
         [-8.91704549e+00, -9.09503800e+00, -9.19435978e+00, ...,
          -6.33599027e+00, -6.08916088e+00, -5.82528617e+00],
         [-8.82821314e+00, -8.92687933e+00, -8.94556363e+00, ...,
          -6.17012616e+00, -5.91608529e+00, -5.64270454e+00],
         ...,
         [-2.22947477e-01, -2.66871963e-01, -3.08829681e-01, ...,
          -8.34284536e-01, -8.45757349e-01, -7.60858530e-01],
         [-1.02646834e-01, -1.49521471e-01, -2.01313029e-01, ...,
          -7.34634956e-01, -7.47091154e-01, -7.09066972e-01],
         [-1.77480143e-02, -4.49549719e-02, -5.87223480e-02, ...,
          -6.71042790e-01, -6.64159102e-01, -6.32035225e-01]],

        [[-9.96500505e+00, -1.03560641e+01, -1.06684524e+01, ...,
          -3.39796664e+00, -3.27701041e+00, -3.20358441e+00],
         [-1.01436531e+01, -1.04219508e+01, -1.06809086e+01, ...,
          -3.29503912e+00, -3.18129437e+00, -3.07082756e+00],
         [-1.02691985e+01, -1.04976714e+01, -1.07192606e+01, ...,
          -3.21341825e+00, -3.09246201e+00, -2.96593327e+00],
         ...,
         [-1.96396109e-01, -1.28870407e-01, -8.29791535e-02, ...,
          -1.58362315e+00, -1.63082558e+00, -1.53379836e+00],
         [-5.34776333e-02, -3.41377478e-02,  1.07701219e-02, ...,
          -1.51380289e+00, -1.56100532e+00, -1.49970771e+00],
         [ 3.27323648e-02,  3.01100074e-02,  8.15737705e-02, ...,
          -1.51281950e+00, -1.50101889e+00, -1.44103247e+00]]],
  mask=False,
  fill_value=1e+20)

In [11]:
len(u), len(v)

(168, 168)

In [12]:
len(u[0]), len(v[0])

(71, 71)

In [13]:
len(u[0][0]), len(v[0][0])

(45, 45)

In [14]:
u[0][0]

masked_array(data=[-8.25703496, -8.16232926, -7.96937084, -7.7512285 ,
                   -7.54088962, -7.29330694, -6.99606583, -6.68499131,
                   -6.33809179, -6.03659425, -5.75708829, -5.63684398,
                   -5.79220389, -6.30794204, -7.3358713 , -8.7248882 ,
                   -9.67052637, -9.87235237, -9.4608969 , -8.80114934,
                   -8.31094981, -7.89630202, -7.58345398, -7.32735843,
                   -7.12446832, -7.00138638, -6.96165964, -6.85737697,
                   -6.79778686, -6.70485468, -6.65058512, -6.59205913,
                   -6.5055116 , -6.51508858, -6.58673858, -6.63355938,
                   -6.62788413, -6.60270022, -6.59454205, -6.6122772 ,
                   -6.6122772 , -6.60873017, -6.57928982, -6.57077695,
                   -6.55658883],
             mask=False,
       fill_value=1e+20)

In [15]:
v[0][0]

masked_array(data=[-8.36372809, -8.62924177, -8.83739139, -8.98588237,
                   -9.12191716, -9.20353803, -9.21927218, -9.19534317,
                   -9.05865279, -8.81149561, -8.35815558, -7.80418259,
                   -7.1453153 , -6.40286038, -5.88723936, -6.05212008,
                   -6.77326835, -7.51801784, -7.91169924, -7.82942278,
                   -7.47704351, -7.20202378, -6.95027748, -6.62936649,
                   -6.25863072, -5.92133001, -5.67187827, -5.31884341,
                   -5.13363942, -5.00711068, -4.91500037, -4.83108494,
                   -4.73831905, -4.64686433, -4.66063171, -4.62391871,
                   -4.58589453, -4.54000327, -4.51443529, -4.5567208 ,
                   -4.51312411, -4.50394586, -4.48034464, -4.50099571,
                   -4.54098666],
             mask=False,
       fill_value=1e+20)

In [16]:
longs = ds["longitude"][:]
longs, len(longs)

(masked_array(data=[116.5 , 116.75, 117.  , 117.25, 117.5 , 117.75, 118.  ,
                    118.25, 118.5 , 118.75, 119.  , 119.25, 119.5 , 119.75,
                    120.  , 120.25, 120.5 , 120.75, 121.  , 121.25, 121.5 ,
                    121.75, 122.  , 122.25, 122.5 , 122.75, 123.  , 123.25,
                    123.5 , 123.75, 124.  , 124.25, 124.5 , 124.75, 125.  ,
                    125.25, 125.5 , 125.75, 126.  , 126.25, 126.5 , 126.75,
                    127.  , 127.25, 127.5 ],
              mask=False,
        fill_value=1e+20,
             dtype=float32),
 45)

In [17]:
lats = ds["latitude"][:]
lats, len(lats)

(masked_array(data=[21.5 , 21.25, 21.  , 20.75, 20.5 , 20.25, 20.  , 19.75,
                    19.5 , 19.25, 19.  , 18.75, 18.5 , 18.25, 18.  , 17.75,
                    17.5 , 17.25, 17.  , 16.75, 16.5 , 16.25, 16.  , 15.75,
                    15.5 , 15.25, 15.  , 14.75, 14.5 , 14.25, 14.  , 13.75,
                    13.5 , 13.25, 13.  , 12.75, 12.5 , 12.25, 12.  , 11.75,
                    11.5 , 11.25, 11.  , 10.75, 10.5 , 10.25, 10.  ,  9.75,
                     9.5 ,  9.25,  9.  ,  8.75,  8.5 ,  8.25,  8.  ,  7.75,
                     7.5 ,  7.25,  7.  ,  6.75,  6.5 ,  6.25,  6.  ,  5.75,
                     5.5 ,  5.25,  5.  ,  4.75,  4.5 ,  4.25,  4.  ],
              mask=False,
        fill_value=1e+20,
             dtype=float32),
 71)

In [18]:
times = ds["time"][:]
times

masked_array(data=[ 937944,  938688,  939360,  940104,  940824,  941568,
                    942288,  943032,  943776,  944496,  945240,  945960,
                    946704,  947448,  948144,  948888,  949608,  950352,
                    951072,  951816,  952560,  953280,  954024,  954744,
                    955488,  956232,  956904,  957648,  958368,  959112,
                    959832,  960576,  961320,  962040,  962784,  963504,
                    964248,  964992,  965664,  966408,  967128,  967872,
                    968592,  969336,  970080,  970800,  971544,  972264,
                    973008,  973752,  974424,  975168,  975888,  976632,
                    977352,  978096,  978840,  979560,  980304,  981024,
                    981768,  982512,  983208,  983952,  984672,  985416,
                    986136,  986880,  987624,  988344,  989088,  989808,
                    990552,  991296,  991968,  992712,  993432,  994176,
                    994896,  995640,  996384,  997104,  997848,  998568,
                    999312, 1000056, 1000728, 1001472, 1002192, 1002936,
                   1003656, 1004400, 1005144, 1005864, 1006608, 1007328,
                   1008072, 1008816, 1009488, 1010232, 1010952, 1011696,
                   1012416, 1013160, 1013904, 1014624, 1015368, 1016088,
                   1016832, 1017576, 1018272, 1019016, 1019736, 1020480,
                   1021200, 1021944, 1022688, 1023408, 1024152, 1024872,
                   1025616, 1026360, 1027032, 1027776, 1028496, 1029240,
                   1029960, 1030704, 1031448, 1032168, 1032912, 1033632,
                   1034376, 1035120, 1035792, 1036536, 1037256, 1038000,
                   1038720, 1039464, 1040208, 1040928, 1041672, 1042392,
                   1043136, 1043880, 1044552, 1045296, 1046016, 1046760,
                   1047480, 1048224, 1048968, 1049688, 1050432, 1051152,
                   1051896, 1052640, 1053336, 1054080, 1054800, 1055544,
                   1056264, 1057008, 1057752, 1058472, 1059216, 1059936],
             mask=False,
       fill_value=999999,
            dtype=int32)

In [19]:
months = pd.date_range(start="2007-01-01", periods=len(ds["time"]), freq="MS")
months

DatetimeIndex(['2007-01-01', '2007-02-01', '2007-03-01', '2007-04-01',
               '2007-05-01', '2007-06-01', '2007-07-01', '2007-08-01',
               '2007-09-01', '2007-10-01',
               ...
               '2020-03-01', '2020-04-01', '2020-05-01', '2020-06-01',
               '2020-07-01', '2020-08-01', '2020-09-01', '2020-10-01',
               '2020-11-01', '2020-12-01'],
              dtype='datetime64[ns]', length=168, freq='MS')

In [20]:
df_vals = []
for z in range(0, len(months)): # 168
    for x in range(0, len(longs)): # 45
        for y in range(0, len(lats)): # 71
            df_vals.append({"date": months[z],
                            "lon": longs[x], 
                            "lat": lats[y],
                            "u": u[z][y][x],
                            "v": v[z][y][x]})
len(df_vals)

536760

In [31]:
df = pd.DataFrame(df_vals, columns=["date", "lat", "lon", "u", "v"])
df

             date    lat    lon         u         v
0      2007-01-01  21.50  116.5 -8.257035 -8.363728
1      2007-01-01  21.25  116.5 -8.253843 -8.440760
2      2007-01-01  21.00  116.5 -8.257744 -8.500746
3      2007-01-01  20.75  116.5 -8.290377 -8.566961
4      2007-01-01  20.50  116.5 -8.343582 -8.631209
...           ...    ...    ...       ...       ...
536755 2020-12-01   5.00  127.5 -0.639788 -1.543960
536756 2020-12-01   4.75  127.5 -0.479817 -1.541665
536757 2020-12-01   4.50  127.5 -0.296790 -1.533798
536758 2020-12-01   4.25  127.5 -0.096029 -1.499708
536759 2020-12-01   4.00  127.5  0.094447 -1.441032

[536760 rows x 5 columns]

In [32]:
df = df[df["date"] > "2007-12-01"].reset_index(drop=True)
df

             date    lat    lon         u         v
0      2008-01-01  21.50  116.5 -8.495750 -7.432136
1      2008-01-01  21.25  116.5 -8.502489 -7.396406
2      2008-01-01  21.00  116.5 -8.523772 -7.323636
3      2008-01-01  20.75  116.5 -8.613157 -7.253815
4      2008-01-01  20.50  116.5 -8.735175 -7.220708
...           ...    ...    ...       ...       ...
498415 2020-12-01   5.00  127.5 -0.639788 -1.543960
498416 2020-12-01   4.75  127.5 -0.479817 -1.541665
498417 2020-12-01   4.50  127.5 -0.296790 -1.533798
498418 2020-12-01   4.25  127.5 -0.096029 -1.499708
498419 2020-12-01   4.00  127.5  0.094447 -1.441032

[498420 rows x 5 columns]

In [33]:
import math
def get_wind_speed(u, v):
    return math.sqrt((u * u) + (v * v))

In [34]:
df.columns

Index(['date', 'lat', 'lon', 'u', 'v'], dtype='object')

In [35]:
df["windvelo"] = df.apply(lambda x : get_wind_speed(x["u"], x["v"]), axis=1)

In [36]:
df

             date    lat    lon         u         v   windvelo
0      2008-01-01  21.50  116.5 -8.495750 -7.432136  11.287799
1      2008-01-01  21.25  116.5 -8.502489 -7.396406  11.269390
2      2008-01-01  21.00  116.5 -8.523772 -7.323636  11.237897
3      2008-01-01  20.75  116.5 -8.613157 -7.253815  11.260742
4      2008-01-01  20.50  116.5 -8.735175 -7.220708  11.333221
...           ...    ...    ...       ...       ...        ...
498415 2020-12-01   5.00  127.5 -0.639788 -1.543960   1.671269
498416 2020-12-01   4.75  127.5 -0.479817 -1.541665   1.614607
498417 2020-12-01   4.50  127.5 -0.296790 -1.533798   1.562249
498418 2020-12-01   4.25  127.5 -0.096029 -1.499708   1.502779
498419 2020-12-01   4.00  127.5  0.094447 -1.441032   1.444124

[498420 rows x 6 columns]

In [37]:
df.dtypes

date        datetime64[ns]
lat                float64
lon                float64
u                  float64
v                  float64
windvelo           float64
dtype: object

In [38]:
df = df.drop(columns=["u", "v"])
df = df.astype({"lat": "float32", "lon": "float32", "windvelo": "float32"})
df

             date    lat    lon   windvelo
0      2008-01-01  21.50  116.5  11.287799
1      2008-01-01  21.25  116.5  11.269390
2      2008-01-01  21.00  116.5  11.237897
3      2008-01-01  20.75  116.5  11.260742
4      2008-01-01  20.50  116.5  11.333221
...           ...    ...    ...        ...
498415 2020-12-01   5.00  127.5   1.671269
498416 2020-12-01   4.75  127.5   1.614607
498417 2020-12-01   4.50  127.5   1.562249
498418 2020-12-01   4.25  127.5   1.502779
498419 2020-12-01   4.00  127.5   1.444124

[498420 rows x 4 columns]

In [39]:
df.dtypes

date        datetime64[ns]
lat                float32
lon                float32
windvelo           float32
dtype: object

In [43]:
df.to_pickle("results/era0820_100m.pkl")